*.vsidx
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfo.cs
.vs/Project \#Filter/v17/.suo
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
.vs/Project \#Filter/v17/.suo
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.designer.runtimeconfig.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.designer.deps.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.csproj.AssemblyReference.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
.vs/ProjectEvaluation/project \#filter.projects.v7.bin
.vs/ProjectEvaluation/project \#filter.metadata.v7.bin
.vs/Project \#Filter/v17/.suo
.vs/Project \#Filter/v17/.futdcache.v2
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
*.v2
Project \#Filter/obj/project.nuget.cache
Project \#Filter/obj/project.assets.json
Project \#Filter/obj/Project \#Filter.csproj.nuget.g.props
Project \#Filter/obj/Project \#Filter.csproj.nuget.dgspec.json
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.assets.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net6.0-windows/Project \#Filter.AssemblyInfo.cs
.vs/ProjectEvaluation/project \#filter.projects.v7.bin
.vs/ProjectEvaluation/project \#filter.metadata.v7.bin
.vs/Project \#Filter/v17/.suo
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
*.bin
*.v2
*.json
*.v2
*.v2
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.GeneratedMSBuildEditorConfig.editorconfig
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.csproj.AssemblyReference.cache
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.assets.cache
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.AssemblyInfo.cs
.vs/Project \#Filter/v17/.futdcache.v2
.vs/Project \#Filter/v17/DocumentLayout.json
.vs/Project \#Filter/DesignTimeBuild/.dtbcache.v2
.vs/Project \#Filter/v17/DocumentLayout.json
.vs/Project \#Filter/v17/DocumentLayout.json
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.AssemblyInfo.cs
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.csproj.GenerateResource.cache
.vs/Project \#Filter/v17/DocumentLayout.json
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.AssemblyInfoInputs.cache
Project \#Filter/obj/Debug/net8.0-windows10.0.22621.0/Project \#Filter.csproj.GenerateResource.cache
